<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/index/edit/action" method="post">
    {% csrf_token %}
    <input type="hidden" name='article_id' value="{{article.id | default:'0'}}">
    <label> title
    <input type="text" name="title" value="{{article.title}}" />
    </label>
    <br>
    <label> content
    <input type="text" name="content" value = "{{article.content}}" />
    </label>
    <br>
    <input type="submit" value="submit">
</form>
</body>
</html>